<div class="container my-4">
  <div class="row">
    <div class="col">
      <h2>Coupon form</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col mx-2">
      <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label class="form-label" for="fullNameInput">Full Name</label>
          <input id="fullNameInput" class="form-control" type="text" name="fullName" placeholder={{couponData?.fullName}}
            formControlName="fullName" [class.is-invalid]="fullName?.touched && fullName?.invalid" />
          <p *ngIf="fullName?.hasError('required')" class="invalid-feedback">
            Required field!
          </p>
          <p *ngIf="fullName?.hasError('minlength')" class="invalid-feedback">
            Min 3 characters!
          </p>
        </div>

        <div class="mb-3">
          <label class="form-label" for="emailInput">Email</label>
          <input id="emailInput" class="form-control" type="email" name="email" placeholder="Email"
            formControlName="email" [class.is-invalid]="email?.touched && email?.invalid" />{{couponData?.email}}
          <p *ngIf="email?.hasError('required')" class="invalid-feedback">
            Required field!
          </p>
          <p *ngIf="email?.hasError('email')" class="invalid-feedback">
            Not a valid email!
          </p>
        </div>

        <div class="mb-3">
          <label class="form-label" for="phoneNumberInput">Phone number</label>
          <input id="phoneNumberInput" class="form-control" type="text" name="phoneNumber" placeholder={{couponData?.phoneNumber}}
            formControlName="phoneNumber" [class.is-invalid]="phoneNumber?.touched && phoneNumber?.invalid" />
          <p *ngIf="phoneNumber?.hasError('minlength')" class="invalid-feedback">
            Min 7 characters!
          </p>
        </div>

        <div class="mb-3">
          <label class="form-label" for="couponInput">Coupon</label>
          <input id="couponInput" class="form-control" type="text" name="coupon" placeholder={{couponData?.coupon}}
            formControlName="coupon" [class.is-invalid]="coupon?.touched && coupon?.invalid" />
          <p *ngIf="coupon?.hasError('pattern')" class="invalid-feedback">
            Coupon must contain "s345"!
          </p>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <div [hidden]="couponForm.valid" id="btn" class="invalid-feedback">
          The form is invalid.
        </div>

      </form>
    </div>
  </div>
</div>
