<div class="mt-4 mb-5">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shirt Number</th>
        <th *ngIf="!groupedByTeams">Team</th>
        <th>Age</th>
        <th>Wage</th>
        <th>End of contract date</th>
        <th>Action icons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.shirtNumber }}</td>
        <td *ngIf="!groupedByTeams">{{ item.team }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.wage }}</td>
        <td>{{ item.contractEnd | date }}</td>
        <td>
          <a [routerLink]="['/', 'player-detail', item.id]">👁‍🗨</a>
          <a class="ml-4" (click)="deletePlayer(item)">❌</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
